<html ng-app="myApp">

    <script src="script/angular.min.js"></script>
    <script src="script/bootstrap.min.js"></script>
    <script src="script/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <body>
        <div class="container" ng-controller="Ctrler">
            <div>
                <input type="submit" value="Submit" ng-click="copyText()">
                <input type="submit" value="Clear" ng-click="clearText()">

            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <form action="/action_page.php" novalidate class="simple-form">
                        <input type="text" ng-model="sa" placeholder="Input your text here..." />
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-6">
                    <form novalidate class="simple-form">
                        <input type="text" ng-model="ba" />
                    </form>
                </div>

                <div class="col-md-12 col-sm-12 col-lg-6">
                    <form novalidate class="simple-form">
                        <input type="text" ng-model="ba"  />
                    </form>
                </div>
            </div>

            <p id="demo"></p>
        </div>
    </body>
</html>
